<div class="quests-container page">
  <div class="content panel">
    <h2>Aktuálny počet questov: {{ questsService.quests().length }}</h2>

    <button class="btn" (click)="questsService.addQuest()" style="margin-bottom:1rem;">➕ Pridať nový quest</button>

    <ul>
      <li *ngFor="let quest of questsService.quests(); let i = index" class="quest-card">
        <a [routerLink]="['/quests', quest.id]" style="text-decoration:none; color:inherit; display:block;">
          <h3>{{ i + 1 }}. {{ quest.title }}</h3>
          <p>{{ quest.description }}</p>
          <p><strong>XP:</strong> {{ quest.xp }}
            <span *ngIf="quest.xp > 100" class="badge mega"> - MEGA XP!</span>
            <span *ngIf="quest.xp > 50 && quest.xp <= 100" class="badge super"> - SUPER XP!</span>
          </p>
        </a>
        <button class="btn small danger" (click)="questsService.deleteQuest(quest.id)">×</button>
      </li>
    </ul>
  </div>
</div>
